<div class="container">
  <h1>Users</h1>
  <%= render partial: 'shared/search', locals: { object: User } %>
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user %></td>
          <td><%= user.email %></td>
          <td>Active</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @users %>
</div>
