<div id="sidebar-wrapper">
  <nav id="spy">
    <ul class="sidebar-nav nav">
      <li class="sidebar-brand">
        <a href="<%= root_path %>"><%= fa_icon "columns"%> Dashboard</a>
      </li>
      <li>
        <a href="<%= users_path %>"><%= fa_icon "users"%> Users</a>
      </li>
    </ul>
  </nav>
</div>
